.Container {
    position: relative;
    margin-left: 30%;    
};

.Form-container {
    width: 400px;
    align-self: center;
    background-color: beige;
    
    margin-top: 5rem;
    margin-bottom: 50rem;
    margin-left: 50px;
    margin-right: 25rem;
    
    border: 3px solid green;
    padding: 10px;
    align-items: center;
};

.Text-container {
    text-align: center;
    font-size: larger;
};

input {
    padding: 5px;
    font-size: 15px;
};

button {
    padding: 7px;
    font-size: 20px;
};

button:hover {
    background-color: rgb(23, 36, 109);
    color: white;
};

@media screen and (max-width: 425px) {
    .Form-container {
    align-items: center;
    width: 100%;
    margin-top: 50px;
    margin-left: 60px;
    margin-right: 10px;
    }   
};
