* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

/*  
.header-wrapper {
position: relative;
background: url(“https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pinterest.com%2Fpin%2F83457399321453561%2F&psig=AOvVaw3KPbiLPi15t0Jaor1_Oum1&ust=1618448755205000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCOiZq9XF_O8CFQAAAAAdAAAAABAP”);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
height: 90vh;
 */
.home,
.recipes,
.nutrition,
.home {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.recipes {
  /* background-image: url('/images/img-1.jpg'); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.nutrition {
  /* background-image: url('/images/img-2.jpg'); */
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  /* background-image: url('/images/img-3.jpg'); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

/*** STICKY FOOTER START ***/

.footer{
  margin-top: 1rem;
  padding: 1rem;
  background-color: #8fcaa5;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

/*** STICKY FOOTER END ***/