.allItems {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  padding: 0.5em;
}

.recipeHide {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 30px;
  max-width: 400px;
  min-width: 350px;
  height: auto;
  padding: 10px;
  box-shadow: 5px 10px 8px #888888;
  border: 1px solid lightgray;
}
  
.recipeShow {
  background-color: white;
  display: flex;
  flex: wrap;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  box-shadow: 5px 10px 8px #888888;
  margin-bottom: 60px;
  padding: 20px;
}
  .divMe {
    width: 100%;
  }

  .ditails {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .ditailsIng {
    max-width: 400px;
  }

  .p, .btnDiv {
    display: flex;
    justify-content: space-around;
    max-width: 400px;
  }
  