.ingContainer {
    font-family: 'Roboto', sans-serif;  
    display: fex;
    flex-wrap: wrap;
    border: 1px solid black;
    border-radius: 1rem;
    margin-bottom: .5rem;
    padding: .5rem;
    float: left;
    justify-content: space-between;
    width: 100%;
    background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
  }
  .divImg {
    display: flex;
    flex-wrap: wrap;
    float: left;
    border-right: 1rem;
    width: 30%;
  }

 .myImge {
    max-width: 80px;
    max-height: 80px;
    border-radius: 50%;
    border-right: 1rem;
  }

  .text {
    font-family: 'Roboto', sans-serif;
    width: 60%;
    float: right;
    background-color: #ffffff;
    padding: .5rem;
    border-radius: 1rem;
  }